<div class="home_container">
    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/3UwtyLer3xjXOX2qlhunnvnJ.png"
        gameLabel="DIGITAL"
        gamePrice="R$ 299,00"
        gameType="DIGITAL | PS4 PS5"
    >
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202304/0304/b33327f72eafb740ac4a17f1e67249273cc085374679fa88.png"
        gameLabel="DIGITAL"
        gamePrice="R$ 279,50"
        gameType="DIGITAL | PS4 PS5  "
    >
    </app-card>

    <app-card
        gameCover="assets/mk1.avif"
        gameLabel="DIGITAL"
        gamePrice="R$ 350,00"
        gameType="DIGITAL | PS5"
    >
    </app-card>

    
</div>